<%- include('header') %>
<h1>Edit Guru</h1>
<p><a href="/">Kembali</a></p>
<form action="" method="POST">
  <p>
    <input type="text" name="nama" value="<%=rs.nama%>" placeholder="Nama guru" required>
  </p>
  <p>
    <input type="text" name="mapel" value="<%=rs.mapel%>" placeholder="Mapel" required>
  </p>
  <p>
    <button type="submit">Simpan</button>
    &nbsp; <a href="/">Batal</a>
  </p>
</form>
<%- include('footer') %>
