<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Latihan Node + MySQL</title>
  <style>
    body { padding:16px; max-width:600px; margin:auto; font-family:monospace; font-size:16px; }
    h1 { text-align:center; margin-bottom:0; }
    input { width:100%; box-sizing:border-box; padding:6px; }
    a { color:blue; text-decoration:none; }
    table { width:100%; border-collapse:collapse; }
    th, td { padding:8px; border:1px solid #ccc; }
    tr:nth-child(even) { background-color:#ddd; }
  </style>
</head>
<body>
